# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace

# Android/IntelliJ
#
android/.idea
ios/.idea
.idea/libraries
.idea/dictionaries
.idea/modules.xml
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/angular-settings.xml
.idea/tasks.xml
.idea/compiler.xml
.idea/encodings.xml
*.iml
local.properties
.gradle

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!android/keystores/exorun.keystore

# VS Code
.vscode

# Cocoapods
ios/Pods


# Bundle artifact
*.jsbundle

junit.xml
.env
coverage
android/app/src/main/assets/fonts/AntDesign.ttf
android/app/src/main/assets/fonts/Entypo.ttf
android/app/src/main/assets/fonts/EvilIcons.ttf
android/app/src/main/assets/fonts/Feather.ttf
android/app/src/main/assets/fonts/FontAwesome.ttf
android/app/src/main/assets/fonts/FontAwesome5_Brands.ttf
android/app/src/main/assets/fonts/FontAwesome5_Solid.ttf
android/app/src/main/assets/fonts/Foundation.ttf
android/app/src/main/assets/fonts/Ionicons.ttf
android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
android/app/src/main/assets/fonts/MaterialIcons.ttf
android/app/src/main/assets/fonts/Octicons.ttf
android/app/src/main/assets/fonts/SimpleLineIcons.ttf
android/app/src/main/assets/fonts/Zocial.ttf
/ios/fastlane/report.xml
/android/fastlane/report.xml


**/vendor
**/.bundle
android/app/src/main/assets/fonts/FontAwesome5_Regular.ttf
.jest