# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace

# Android/IntelliJ
#
android/.idea
ios/.idea
.idea/libraries
.idea/dictionaries
.idea/modules.xml
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/angular-settings.xml
.idea/tasks.xml
.idea/compiler.xml
.idea/encodings.xml
*.iml
local.properties
.gradle

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# VS Code
.vscode

# Cocoapods
ios/Pods


# Bundle artifact
*.jsbundle

junit.xml
.env
coverage
